/* https://coolors.co/000f08-1c3738-4d4847-f4fff8-8baaad */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-color: #000F08;
}

.navbar {
    background-color: #1C3738;
    overflow: hidden;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar-menu li {
    float: left;
}

.navbar-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar-menu li a:hover {
    background-color: #575757;
}

.home-text {
	color: white;
	text-align: center;
}

p {
	color: white;
	text-align: center;
	text-decoration: none;
}

a {
	color: white;
	text-align: center;
	text-decoration: none;
}