body {
	background-color: #000F08;
	margin: 0px 0px;
	padding: 0px 0px;
}

nav {
	width: 100%;
	height: 75px;
	background-color: #1C3738;
}

ul {
	list-style: none;
	text-decoration: none;
}

a {
	color: #F4FFF8;
	text-decoration: none;
}