* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000F08;
}

nav {
    background-color: #1C3738;
    overflow: hidden;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    float: left;
    text-decoration: none;
}

nav li a {
    display: block;
    color: #F4FFF8;
    text-align: center;
    padding: 14px 20px;
}

nav li a:hover {
    background-color: #575757;
}
